/* CSS Document */
:root {
    /* Full grid area variable */
    --fullGrid: 1 / 1 / -1 / -1;
}

html,body{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
	
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		}

.navbar{
	background:#212121;
	grid-column: 1/5;
	padding: 10px;
	display: grid;
	grid-template-columns: 2fr auto;
}

.img-logo{
	width: 10%;
}

.logo{
}

li{
	padding: 10px;
	font-size: 1.2em;
	color: white;
	letter-spacing: 1px;
}

li:hover{
	border-bottom: 1px solid white;
	color:#AA3133;
	cursor:pointer;
}

.mainnav{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 3em;
	grid-row-gap: 0em;
	padding: 0px;
	list-style-type: none;
	align-items: center;
}

header {
    /* Create grid spanning viewport width & height */
   	grid-column: 1/5;
	display: grid;
    grid-template-rows: 50vh;
    overflow: hidden;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.video-bg {
    /* Span the full grid */
    grid-area: var(--fullGrid);

    /* Re-size video to cover full screen while maintaining aspect ratio */
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    /* Display video below overlay */
    z-index: -1;
}

.video-bg::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    /* Span the full grid */
    grid-area: var(--fullGrid);

    /* Center Content */
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;

    /* Semi-transparent background */
    background-color: rgba(0, 0, 0, 0.55);
}

h1 {
    font-size: calc(1.8em + 2.5vw);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}
.bt1{
	grid-column: 1/5;
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding: 40px;
}

.textleft{
	align-self: center;
}


.img-text-right img {
	justify-self: end;
}
